<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="https://play-lh.googleusercontent.com/7CL8WfXiGVF_GO-KQv65qTAryEjbqvLm8RLOdhjRUTsITwypN6Ynx0gJ1t3zrqSmUO0">
    <title>HackKick8</title>
</head>
<div>
    <header class="p-3 mb-3 border-bottom" style="background-color: #EEE9E3;">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="navbar-brand" href="/admin"><img src="https://play-lh.googleusercontent.com/7CL8WfXiGVF_GO-KQv65qTAryEjbqvLm8RLOdhjRUTsITwypN6Ynx0gJ1t3zrqSmUO0" alt="StockDx" style="width: 150px; margin-top: 5px;"></a>
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="/admin" class="nav-link px-2 link-secondary">Home</a></li>
              <li><a href="/admin/products" class="nav-link px-2 link-body-emphasis">Shoes</a></li>
            </ul>
    
            <div class="dropdown text-end">
              <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://play-lh.googleusercontent.com/7CL8WfXiGVF_GO-KQv65qTAryEjbqvLm8RLOdhjRUTsITwypN6Ynx0gJ1t3zrqSmUO0" alt="mdo" width="32" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small">
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/logout">Sign out</a></li>
              </ul>
            </div>
          </div>
        </div>
    </header>
</div>
<head>
    <style>
        body {
            background-color: #EEE9E3;
            font-family: 'Arial', sans-serif;
        }
        .container {
            padding: 20px;
        }
        h1 {
            color: #333;
            text-align: center;
            margin-bottom: 30px;
        }
        .btn {
            margin-bottom: 20px;
            border: none;
        }
        .btn-warning {
        background-color: #f0ad4e;
        color: white;
        transition: transform 0.3s ease; 
    }
    
    .btn-warning:hover {
        transform: scale(1.1); 
    }
        .btn-outline-secondary, .btn-outline-danger {
        border: 2px solid;
        padding: 5px 10px;
        transition: transform 0.3s ease; 
    }
    
    .btn-outline-secondary:hover, .btn-outline-danger:hover {
        transform: scale(1.1); 
    }
        .table thead {
            background-color: #ff5722; 
            color: white;
        }
    
        
        .table tbody tr:nth-child(odd) {
            background-color: #f7f7f7; 
        }
    
        .table tbody tr:nth-child(even) {
            background-color: #e9ecef; 
        }
    
        .table tbody tr:hover {
            background-color: #ffe0b2; 
        }
        .card-custom {
            background-color: #FFF;
            border: none;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
            margin-bottom: 20px;
            padding: 20px;
        }
        .table-custom {
            margin-bottom: 0;
        }
    
        img {
            width: 70px;
            height: 70px;
            object-fit: cover;
        }
        .alert {
            text-align: center;
            color: red;
        }
    
        img {
            width: 70px;
            height: 70px;
            object-fit: cover;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            transition: transform 0.3s ease; 
        }
    
        img:hover {
            transform: scale(1.1); 
        }
        @keyframes popIn {
            0% {
                transform: scale(0.9);
                opacity: 0.7;
            }
            50% {
                transform: scale(1.05);
                opacity: 1;
            }
            100% {
                transform: scale(1);
                opacity: 1;
            }
        }
    
        h1 {
            font-size: 3em; 
            text-align: center;
            margin-bottom: 30px;
            background: -webkit-linear-gradient(45deg, #f0ad4e, #ec971f);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
            animation: popIn 1s ease-in-out;
        }
        .card-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-around;
        }
        .card-custom {
            width: 18rem; 
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        }
        .card-img-top {
            width: 100%; 
            height: auto; 
            object-fit: cover; 
        }
        .card-text, .card-title, .card-body > a {
            text-align: center; 
        }
        .card-body > a {
            display: block; 
            margin-bottom: 10px; 
        }
        @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-100px); 
        }
        to {
            opacity: 1;
            transform: translateY(0); 
        }
    }
    .card-custom {
        opacity: 0; 
        animation: slideDown 0.5s ease forwards; 
    }
        
    </style>
</head>
<body style="background-color: #EEE9E3;">
    <div class="container">
        <div>
            <h1>
                <b>
                    HackKick8 Avenue
                </b>
            </h1>
        </div>
        <% if (deleteMsg){ %>
            <div class="alert alert-success" role="alert">
                <%= deleteMsg %>
            </div>
       <% } %>
       <div>
            <a href="/admin/products/add" class="btn btn-warning" type="button" style="margin-bottom: 20px;">Add New Product</a>
        </div>
        <div margin-top: 20px;">
            <table class="table table-bordered table-warning" style="border-color: #EEE9E3;">
                <thead>
                  <tr>
                    <th scope="col">Products Name</th>
                    <th scope="col">Total Stock</th>
                    <th scope="col">Price</th>
                    <th scope="col">Type</th>
                    <th scope="col">Pictures</th>
                    <th scope="col">Category</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                <% data.forEach(el =>{ %>
                  <tr>
                    <th scope="row"><%= el.name  %></th>
                    <td><%= el.stock  %></td>
                    <td><%= el.formatRupiah  %></td>
                    <td><%= el.type  %></td>
                    <td><img src="<%= el.image  %>" alt="" style="width: 70px; height: 70px;"></td>
                    <% el.ProductHasCategories.forEach(item => { %>
                        <td>
                            <%= item.Category.categoryName %>
                        </td>
                   <% })  %>
                    <td>
                        <a href="/admin/products/edit/<%= el.id  %>" type="button" class="btn btn-outline-secondary">Edit</a>
                        <a href="/admin/products/delete/<%= el.id %>" type="button" class="btn btn-outline-danger">Delete</a>
                    </td>
                  </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</body>
<body style="background-color: #EEE9E3;">
</body>
</html>